body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root{
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  font-family:"DM Sans","sans-serif";
  scroll-behavior: smooth;
}

header{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background-image: url('./assets/assets/img/Fire.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}



header h1{
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
  margin-top: 80px;
}

.header--tittle-container{
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 50px;
  text-align: center;
  align-self: center;
}

.header--tittle-container h3{
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.header--tittle-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--just-white);
}

.header--tittle-container .header--button{
  position: absolute;
  left: calc(50% - 118px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  text-align: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

.header--button span{
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('./assets/assets/icons/down-arrow.svg');
}

.main-plans-container{
  width: 100%;
  min-width: 320px;
  height: auto;
  background: rgb(247,255,99);
  background: radial-gradient(circle, rgba(247,255,99,1) 0%, rgba(255,196,87,1) 30%, rgba(255,85,48,1) 100%);
}


.main-exchange-container{
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
  background-color: white;
}

.main-exchange-container--title{
width: 90%;
min-width: 288px;
max-width: 900px;
margin: 0 auto;
}



.main-exchange-container h2{
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.main-exchange-container p{
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}

.main-tables-container{
  display: flex;
  height: 400px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;

}

.main-tables-container::-webkit-scrollbar {
  background-color: #be99d0;
  height: 3px;
}
.main-tables-container::-webkit-scrollbar-thumb {
  background-color: #711c9f;
}

.main-currency-table{
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 20px 0;
  font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title{
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color:var(--bitcoin-orange);
}

.currency-table--container{
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}

.currency-table--container table{
  width: 100%;
  height: 100%;
}

.currency-table--container td{
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color:var(--grey) ;
  background-color: var(--just-white);

}

.currency-table--container .table__top-left{
  border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right{
  border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left{
  border-radius: 0 0 0 15px;
}

.currency-table--container .table__bottom-right{
  border-radius: 0 0 15px 0; 
}

.currency-table--container .table__right{
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}

.currency-table--container .down{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url('./assets/assets/icons/trending-down.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table--container .up{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url('./assets/assets/icons/trending-up.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-currency-table .currency-table--titleb{
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color:var(--secondary-blue);
}

.currency-table--date{
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px;
}

.currency-table--date p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--warm-black);
}

.main-product-detail{
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color:var(--black);
}

.product-detail--batata-logo{
  position: absolute;
  width: 40px;
  height: 25px;
  top: -10px;
  left: calc(50% - 20px);
}

.product-detail--title{
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.product-detail--title h2{
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.product-detail--title p{
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.product-detail--card{
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color:var(--warm-black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card .icon-card {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.clock {
  background-image: url('./assets/assets/icons/clock.svg');
}

.eye {
  background-image: url('./assets/assets/icons/eye.svg')
}

.dolar {
  background-image: url('./assets/assets/icons/dollar-sign.svg')
}

.circle {
  background-image: url('./assets/assets/icons/check-circle.svg')
}


.product--card-title{
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}

.product--card-body{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.bitcoin-img-container{
  width: 100%;
  min-width: 320px;
  height: 50vh;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.bitcoin-img-container h2{
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.main-plans-container{
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
}

.plans--title{
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}

.plans--title h2{
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.plans--title p{
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.plans-container--slider{
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.plans-container--slider::-webkit-scrollbar {
  background-color: #f68d17;
  height: 3px;
}
.plans-container--slider::-webkit-scrollbar-thumb {
  background-color: #e64c0d;
}

.plans-container--card{
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 190px;
  max-width: 300px;
  height: 250px;
  margin: 50px 8px 0;
  padding: 0 15px;
  background-color: #f7f1fa;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 73, 0.16);
}

.recommended{
  position: absolute;
  width: 120px;
  height: 28px;
  top: -15px;
  left: calc(50% - 60px);
  font-size: 1.2rem;
  background-color:#e03009;
  border-radius: 8px;
  color: var(--just-white);
  padding: 6px;
}

.plan-card--title{
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--black);
}

.plan-card--price{
  padding: 5px 0;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 5.3rem;
  color: var(--black);
}

.plan-card--price span{
  position: absolute;
  top: 15%;
  left: calc(50% - 45px);
  font-size: 1.2rem;
  font-weight: 300;
}

.plan-card--saving{
  font-size: 1.2rem;
  color: #757575;
}

.plan-card--ca{
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color:#eee4f4 ;
  border-radius: 5px;
  border: 2px solid #e03009;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
  font-family:"DM Sans","sans-serif";
}

.plan-card--ca span{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./assets/assets/icons/right-arrow.svg');
  vertical-align: text-bottom;
}

.recommendedb{
  position: absolute;
  width: 120px;
  height: 28px;
  top: -15px;
  left: calc(50% - 60px);
  font-size: 1.2rem;
  background-color:#ffb01c;
  border-radius: 8px;
  color: var(--just-white);
  padding: 6px;
}

.plan-card--cab{
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color:#eee4f4 ;
  border-radius: 5px;
  border: 2px solid #ffb01c;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
  font-family:"DM Sans","sans-serif";
}

.plan-card--cab span{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./assets/assets/icons/right-arrow.svg');
  vertical-align: text-bottom;
}

.recommendedc{
  position: absolute;
  width: 120px;
  height: 28px;
  top: -15px;
  left: calc(50% - 60px);
  font-size: 1.2rem;
  background-color:var(--black);
  border-radius: 8px;
  color: var(--just-white);
  padding: 6px;
}

.plan-card--cac{
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color:#eee4f4 ;
  border-radius: 5px;
  border: 2px solid var(--black);
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
  font-family:"DM Sans","sans-serif";
}

.plan-card--cac span{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./assets/assets/icons/right-arrow.svg');
  vertical-align: text-bottom;
}

.plan-card--pricec{
  padding: 5px 0;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 5.3rem;
  color: var(--black);
}

.plan-card--pricec span{
  position: absolute;
  top: 15%;
  left: calc(50% - 60px);
  font-size: 1.2rem;
  font-weight: 300;
}

footer{
  display: flex;
  width: 100%;
  height: 150%;
  background-color:#ff3b10 ;
  justify-content: left;
  align-items: center;
}

footer ul{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}

footer li{
  margin: 10px 10px;
}

footer li a{
  text-decoration: none;
  color: var(--just-white);
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}